body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f9fb;
}
/* Custom scrollbar for better aesthetics */
.scrollbar-thin::-webkit-scrollbar {
    width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #d1d5db; /* gray-300 */
    border-radius: 3px;
}
.scrollbar-thin::-webkit-scrollbar-track {
    background-color: #f3f4f6; /* gray-100 */
}
