::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #32936F; 
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color: #403F4C; 
}

body {
    background-color: #403F4C; 
    color: #E4E6C3; 
    font-family: 'Libre Baskerville', serif;
}

h1, h2 {
    font-family: 'Libre Baskerville', serif;
    color: #E4E6C3; 
}

h1 {
    font-size: 7rem; 
    line-height: 1;
}

h2 {
    font-size: 7rem; 
    line-height: 1;
}

h3 {
    font-family: 'Libre Baskerville', serif; 
    color: #E4E6C3;
}


.custom-input {
    background-color: #555462;
    color: #E4E6C3;
    border-color: #32936F;
}
.custom-input::placeholder {
    color: #A0A0AA; 
}
.custom-input:focus {
    border-color: #E4E6C3;
    box-shadow: 0 0 0 2px rgba(50, 147, 111, 0.5); 
}

.custom-button {
    background-color: #32936F; 
    color: #403F4C; 
}
.custom-button:hover {
    background-color: #2a7e5f; 
}

.art-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
    gap: 2.5rem; 
}

.card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

.frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    pointer-events: none; 
    z-index: 1;
}

.horizontal-frame {
    background-image: url('horizontal\ frame.png'); 
    padding: 5%; 
}

.vertical-frame {
    background-image: url('vertical\ frame.png'); 
    padding: 5%; 
}

.artwork-card {
    background-color: #555462; 
    border-color: #6a6977;
    color: #E4E6C3;
    position: relative;
    z-index: 2; 
    margin: 0 10%; 
    flex-grow: 1;
}

.artwork-image-wrapper {
    background-color: #333; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}